header{
    background-color: rgb(240, 189, 51); 
    margin-top: -7px;
}

body{
    background-image: linear-gradient(180deg,rgb(110, 188, 219),rgb(49, 155, 204), rgba(122, 56, 12, 65%));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    scroll-behavior: smooth;
}

html{
  scroll-behavior: smooth;

}
.titre{
    font-size: 20px;
    font-style: bold;
}

.btn-primary{
    background-color: rgb(240, 189, 51);
    margin-top: 350px; 
    color: dimgray;
}

.btn-primary:hover{
    background-color: #996d2e;
}

img{
    width: auto;
    height: 25%;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}

span{
    padding: 20px;
    color: dimgray;
}


svg {
  position: absolute;
  left: 50%;
  margin-left: -200px;
}
  
polygon {
    stroke-width: 1;
  }

.green-lighter {
  background: #a5df66;
  fill: #a5df66;
  stroke: #a5df66;
}
.green-light {
  background: #79b544;
  fill: #79b544;
  stroke: #79b544;
}
.green-norm {
  background: #619b37;
  fill: #619b37;
  stroke: #619b37;
}
.green-dark {
  background: #54892f;
  fill: #54892f;
  stroke: #54892f;
}
.green-darker {
  background: #3c6720;
  fill: #3c6720;
  stroke: #3c6720;
}
.brown-light {
  background: #d5bc79;
  fill: #d5bc79;
}
.brown-dark {
  background: #996d2e;
  fill: #996d2e;
}

#cloud1 {
  animation: bounce1 2s ease-in-out 0s infinite alternate;
}

#cloud2 {
  animation: bounce2 3s ease-in-out 0s infinite alternate;
}

@keyframes bounce1 {
  from {
    transform: translateY(0px);
  } to {
    transform: translateY(-4px);
  }
}

@keyframes bounce2 {
  from {
    transform: translateY(0px);
  } to {
    transform: translateY(-6px);
  }
}

/*Page Partenaires*/

.home {
height: 100vh;
}

.backpart{
  background-image: linear-gradient(rgba(122, 49, 0, 0.74), rgba(58, 26, 1, 0.836), rgba(34, 16, 0, 0.904)),
  url("https://image.freepik.com/vecteurs-libre/arbre-brun-racines-plat-illustration-vectorielle-isole_98292-3060.jpg");
  background-size: 100% 100%;
  height: 100vh;
  width: 100%;
}

section img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
section img:hover{
  height: 100px;
  width: 100px; 
}
.zoom{
  border-radius: 50%;
  border: 2px solid  #582900;
}

 .TerraSolis{
  position:absolute;
  left: 49%;
  top: 120%;
}
.CRAGE{
  position:absolute;
  left: 26%;
}
.CA51{
  position:absolute;
  left: 15%;
  top: 125%;
}

.Soufflet
{
  position:absolute;
  left: 4% ;
  top: 120%;
}
.Vivescia{
  position:absolute;
  left: 28% ;
  top: 130% ;

}
.Ceresia{
  position:absolute;
  left: 37% ;
  top: 120%
}
.Cristal{
  position:absolute;
  left: 38%;
  top: 135%;
}
.la {
  position:absolute;
  left: 60% ;
}
.CDER{
  position:absolute;
  left: 81%;
}
.IAR{
    position:absolute;
  top: 127%;
  left: 77%;
}
.CREDIT {
  position:absolute;
  top:  140%;
  left: 65%;

}
.Arvalis{
  position:absolute;
  top: 144%;
  left: 80% ;
}
.RITTMO{
  position:absolute;
  top: 160%;
  left: 80%;

}
.CIVC{
  position:absolute;
  top: 154% ;
  left: 71% ;

}
.SYNERGIE {
  position:absolute;
  top: 169% ;
  left: 25% ;
}
.ENSAIA{
  position:absolute;
  top: 170%;
  left: 17%;

}
.GRDF{
  position:absolute;
  top: 178% ;
  left: 36% ;

}
.INVIVO{
  position:absolute;
  top: 170% ;
  left: 45% ;

}
.CRESTIC{
  position:absolute;
  top: 183%;
  left: 50%;

}
.ARTECHDRONE{
   position:absolute;
   top: 139%;
  left: 20%;
}
.EMC2{
  position:absolute;
  top: 163% ;
  left: 63%;

}
.ARYSTA{
  position:absolute;
  top: 144%;
  left: 44%;
}
.API-AGRO{
  position:absolute;
  top:146% ;
  left: 57%;

} 